.SecFive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: gold; */
}

.SecFive-header > h1 {
  color: #022ab5;
  font-size: 3rem;
}

.SecFive-box-container {
  /* background-color: aqua; */
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  height: 28rem;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.SecFive-box-container::-webkit-scrollbar {
  display: none;
}

.SecFive-box{
    margin:  2rem 7rem 2rem 1rem;
    height: 23rem;
}
.SecFive-header{
margin: 5rem 0;
}

.SecFive-box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}
.SecFive-box > div {
    margin: 20px;
  width: 16rem;
}

.SecFive-box-head  , .SecFive-box-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.SecFive-box-head > img {
  height: 112px;
  width: 112px;
  border-radius: 50%;
}

.SecFive-box-body{

}

.SecFive-box-body p {
  text-align: center;
}
