.partners-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
}

.partners-head {
  margin: 3rem;
  color: #022ab5;
}

.partners-container{
    display: flex;
    width: 100%;
    justify-content:center ;
}
.partners-img {
  width: 10%;
  margin: 2rem;
}

@media (max-width: 500px) {
  .partners-head> h1{
    font-size: 1.5rem;
  }
  .partners-img {
    width: 3rem;
    margin: 10px;
  }
}
