.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: F2F3F4;
}

.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
}

/* carosel  */
.sectionOne {
  background-image: url(https://ineuron-iota.vercel.app/static/media/background_hd.1abd4d4e.7bd8a1d5b7f0e7477e53.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
}

.sectionthree {
  height: 50rem;
}
