.navBar {
  display: flex;
  align-items: center;
  padding: 0px 6rem;
  position: fixed;
  height: 5rem;
  justify-content: center;
  /* background-image: url("../../assets/svgs/background_hd.1abd4d4e.svg"); */
  width: 100%;
  z-index: 3;
  background-size: 200%;
  background-position: center;
 background-color: whitesmoke;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

 
}

/* nav top */
.navBar > .nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navBar > .nav-top > img {
  width: 10rem;
}

.nav-search {
  display: flex;
  position: relative;
  width: 44rem;
  height: 50px;
  align-items: center;
  margin: 0 6rem;
}
.nav-search::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(148, 144, 144);
  display: block;
  border-radius: 55px;
}

.nav-search > input {
  border: none;
  outline: none;
  width: 100%;
  color: #6577b3;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: transparent;
}
.nav-right {
  display: flex;
}

.nav-right > button:nth-child(1) {
  width: 6rem;
  height: 2rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  margin: 0 1rem;
  border-radius: 8px;
  color: #011daa;
  transition: all 0.3s ease;
}

.nav-right > button:nth-child(1):hover{
    color:white;
    background:  #011daa;
}

.nav-right > button:nth-child(2) {
  width: 6rem;
  height: 2rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  margin: 0 1rem;
  color: white;
  background: #011daa;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-right > button:nth-child(2):hover{
    color: #011daa;
    background: transparent;
}
.threeDot{
  display: none;
}

.menu{
  position: absolute;
  top: 0;
  width:90%;
  height: 100vh;
  z-index: 4;
  background-color: whitesmoke;
 left: 0;
}
.menu-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem;
}

.menu-top >img{
  width: 10rem;
}

.menu>ul{
  line-height: 3;
  list-style-type: none;
  margin-top: 3rem;
}

.menu>ul>li{
  padding-left: 1rem;
  width: 15rem;
}

.menu>ul>li:hover{
    background-color: rgb(188, 188, 188); 
    border-radius: 10px;
    cursor: pointer;
}
.menu>ul>li:last-child:hover{
  background-color: transparent;
  /* width: max-content; */
  width: 20rem;

}

.menu>ul > div >button{
  margin-top: 2rem;
}

@media (max-width : 1295px) {
  .nav-right {
    display: none;
  }
.nav-search{
  display: none;
}
.threeDot{
  display: block;
  transform: rotate(90deg);
}
.navBar{
 padding: 0 1rem;
}

}