.Learning-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
  position: relative;
}

.Learning-sec > .previous {
  position: absolute;
  left: 3%;
  top: 70%;
}
.Learning-sec > .next {
  position: absolute;
  right: 3%;
  top: 70%;
}

.Learning-sec-head > button {
  font-style: lower;
}

.Learning-head {
  color: #022ab5;
  margin: 2rem;
}
.Learning-head > h1 {
  font-size: 3rem;
}

.Learning-sec-container-head {
  text-align: center;
  margin-top: 2rem;

  line-height: 3;
}
.Learning-sec-container-head > h2 {
  color: #022ab5;
}
.Learning-sec-container-head p {
  font-size: 1.3rem;
  color: rgb(60 73 88/1);
}

.Learning-sec-buttons button {
  margin: 1rem;
  text-transform: lowercase;
}

.Learning-sec-container {
  display: flex;
  overflow: scroll;
  width: 80%;
  height: 28rem;
  /* justify-content: center; */
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.Learning-sec-container::-webkit-scrollbar {
  display: none;
}

/* Learning-sec-box */

.Learning-sec-box > div > img {
  width: 100%;
  border-radius: 16px;
}

.Learning-sec-box {
  margin: 3rem;
  background-color: whitesmoke;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Learning-sec-box > div {
  margin: 1rem;
  width: 18rem;
  height: 24rem;
}

.Learning-sec-box-body {
  margin-top: 2rem;
}

.Learning-sec-box-body > h5:nth-child(1) {
  color: #022ab5;
}

img[alt="arrowLefit"] {
  width: 2rem;
}

img[alt="arrowRight"] {
  width: 2rem;
}

@media (max-width: 500px) {
  .Learning-sec-buttons button {
    margin: 1rem;
    height: 2rem;
    width: 6rem;
    font-size: 70%;
    /* text-transform: lowercase;   */
  }

  .Learning-sec-box > div {
    margin: 1rem;
    width: 15rem;
    height: 18rem;
  }

  .Learning-sec-container {
  }
}
